<div class="container about">
    <h1>Who am I?</h1>
    <p>
        I'm Brent Rambo! I've been hacking since I was a wee lad. Nobody can even touch these mad skills I have. And now
        I'm learning how to build Web Apps, because they're pretty cool! If you're in need of a web developer, look no
        further!
    </p>
    <h1>Education</h1>
    <p>
        I'm a Freshman at the University of Louisville and an active member of the Speed ACM; voted no. 1 club on campus
        by ACM Members!
    </p>
    <h1>Skills</h1>
    <p>
        I'm good at building web apps, but that's pretty self-evident.  I mean, look at this wicked portfolio!
    </p>
</div>