<div class="container">
    
    <!-- Place holders -->
    <h1>My Project Ideas</h1>
    
    <div class="project" *ngFor="let project of projects">
        <h2 class="title">{{project.title}}</h2>
        <p class="description">{{project.description}}</p>
        <p class="avg-rating">{{(getAverageRating(project) | number:'1.1-1') || 'N/A'}}</p>

        <div *ngFor="let rating of project.ratings">
            <div class="rating" *ngIf="rating.comment">
                <div class="hearts">
                    <span *ngFor="let i of [1,2,3,4,5]">
                        <span [ngClass]="rating.value >= i ? 'red-heart' : 'black-heart'"></span>
                    </span>
                </div>
                <p class="comment">{{rating.comment}}</p>
            </div>
        </div>

        <div class="new-rating">
            <button *ngIf="!userRatings[project.projectId]" 
                (click)="userRatings[project.projectId] = { comment: '', rating: 0 }">
                Add Rating
            </button>
            <div class="user-rating" *ngIf="userRatings[project.projectId]">
                <textarea [(ngModel)]="userRatings[project.projectId].comment"></textarea>
                <div class="hearts">
                    <span *ngFor="let i of [1,2,3,4,5]">
                        <span [ngClass]="userRatings[project.projectId].value >= i ? 'red-heart' : 'black-heart'"
                            (click)="userRatings[project.projectId].value = i"></span>
                    </span>
                </div>
                <button (click)="submitRating(project.projectId)">Submit Rating</button>
            </div>
        </div>
    </div>
    
</div>