<div class="container home">
    <h1>Brent Rambo</h1>
    <h2>Welcome to my portfolio!</h2>
    <p>
        I'm glad you're here, I have a lot to share with you!  I'm an aspiring web developer and I think <em>you</em> should hire <em>me</em> for your web application needs.
    </p>
    <h2>Images</h2>
    <img src="https://picsum.photos/id/237/600/400" />
    <p>
        Look at this image.  Isn't it great?  Isn't it beautiful?  Want more of this in your life?  Well you can have all of this you want if you hire me today!
    </p>
    <img src="https://picsum.photos/600/400" />
    <p>
        There's one more just to give you a taste of my colorful goodness.
    </p>
    <h2><a [routerLink]="['/contact']">HIRE ME</a></h2>
</div>